:root {
  --dark-theme: #4c333d;
  --light-theme: #ffe8d6;
  --card-accent: #405e59;
  --btn-accent: #95b08b;
}

/* General Styles */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--light-theme);
  font-family: "Vollkorn", serif;
  font-size: 16px;
}
